.section {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &--borders {
    margin-top: -12vh;
    padding-top: 12vh;
    min-height: 88vh;
  }

  &--about {
    align-content: center;
  }

  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__bg-image-wrapper.home::after {
    background: linear-gradient(103.59deg, rgba(24, 26, 41, 0.85) 2.03%, rgba(24, 26, 41, 0.45) 98.49%);
  }

  &__bg-image-wrapper::after {
    background: linear-gradient(103.59deg, rgba(7, 8, 17, 0.95) 2.03%, rgba(7, 8, 17, 0.95) 98.49%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: block;
    content: "";
    z-index: 2;
  }
}
