.section {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &--borders {
    margin-top: -12vh;
    padding-top: 12vh;
    min-height: 88vh;
  }

  &--about {
    align-content: center;
  }

  &--hero {
    background: linear-gradient(103.59deg, rgba(24, 26, 41, 0.85) 2.03%, rgba(24, 26, 41, 0.45) 98.49%),
      url(../../images/hero.jpg) center/cover no-repeat;
  }

  &--projects {
    background: linear-gradient(103.59deg, rgba(7, 8, 17, 0.95) 2.03%, rgba(7, 8, 17, 0.95) 98.49%),
      url(../../images/about.jpg) center/cover no-repeat;
  }

  &--contact {
    background: linear-gradient(103.59deg, rgba(7, 8, 17, 0.95) 2.03%, rgba(7, 8, 17, 0.95) 98.49%),
      url(../../images/contact.jpg) center/cover no-repeat;
  }
}
