.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 435px;

  @include media("<595px") {
    width: 100%;
  }

  &__title {
    @include fluid-type(500px, 1600px, 35px, 55px);
    line-height: 65px;
    margin-bottom: 40px;
  }

  &__input-group {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
  }

  &__label {
    transition: top 300ms ease, left 300ms ease, transform 300ms ease;
    background-color: var(--primary-colour);
    position: absolute;
    transform: translateY(-50%);
    padding: 5px;
    top: 25px;
    left: 10px;
    border-radius: 5px;
  }

  &__input:focus + &__label,
  &__input-group.active &__label,
  &__textarea:focus + &__label,
  &__input-group.active + &__label {
    transform: scale(0.8);
    top: -14px;
    left: 0;
  }

  &__textarea {
    margin-bottom: 20px;
  }

  &__textarea,
  &__input {
    padding: 15px;
    color: var(--gray-colour);
    border: 1px solid rgba(255, 255, 255, 0.29);
    background-color: var(--primary-colour);
    border-radius: 6px;
    display: block;
    width: 100%;

    &:hover,
    &:focus {
      outline: none;
      border: 1px solid var(--secondary-colour);
    }
  }

  &__btn {
    min-width: 178px;

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.8;
    }
  }
}
