.decorative-border {
  background-color: var(--primary-colour);
  height: 12vh;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 3;

  @include media("<desktop") {
    height: 6vh;
  }

  &--top {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    top: 0;
  }

  &--bottom {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    transform: rotate(-180deg);
    bottom: 0;
  }
}
