.decorative-border {
  pointer-events: none;
  position: relative;
  z-index: 4;
  height: 0;

  &__inner {
    height: 12vh;
    background-color: var(--primary-colour);

    @include media("<phone") {
      height: 6vh;
    }
  }

  &__inner--top {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
  }

  &__inner--bottom {
    transform: rotate(-180deg) translateY(100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
  }
}
