.dot-navs {
  position: fixed;
  transform: translateY(-50%);
  z-index: 5;
  left: 30px;
  top: 50%;

  @include media("<tablet") {
    display: none;
  }

  &__list-item {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  &__link {
    transition: background-color 300ms ease, height 300ms ease;
    border: 2px solid var(--gray-colour-2);
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: relative;
    border-radius: 50%;
    display: block;
  }
}

.dot-navs {
  &__text {
    color: var(--gray-colour-2);
    font-size: 12px;
    font-weight: bold;
    left: calc(100% + 12px);
    position: absolute;
    opacity: 0;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
  }

  &__link:hover,
  &__link:focus {
    border: 2px solid var(--secondary-colour);
  }

  &__link:hover &__text,
  &__link:focus &__text {
    opacity: 1;
  }

  &__link.active {
    border: 2px solid var(--secondary-colour);
    background-color: var(--secondary-colour);
    border-radius: 13.5px;
    height: 30px;
  }

  &__link.active &__text {
    color: var(--secondary-colour);
    opacity: 1;
  }
}
