.down-arrow {
  position: absolute;
  bottom: 12vh;
  z-index: 3;
  left: 50%;

  @include media("<mobile-large") {
    bottom: 20vh;
  }

  animation-name: down-arrow-animate;
  animation-iteration-count: infinite;
  animation-duration: 2s;

  &__image {
    transform: translateX(-50%);
    width: 50px;
    height: 50px;

    @include media("<mobile-large") {
      width: 30px;
      height: 30px;
    }
  }
}

@keyframes down-arrow-animate {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(25%);
  }

  50% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(0);
  }
}
