.home-section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;

  position: relative;
  z-index: 2;

  &__title {
    @include fluid-type(500px, 1600px, 28px, 62px);
    font-weight: bold;
    line-height: 1.33;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__title-inner {
    @include media("<desktop") {
      display: block;
    }
  }

  &__title-spacer {
    color: var(--secondary-colour);
    margin-right: 17px;
    margin-left: 17px;
    @include media("<desktop") {
      display: none;
    }
  }

  &__text {
    @include fluid-type(500px, 1600px, 16px, 26px);
    line-height: 1.33;
  }

  &__title,
  &__text {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  }
}
