.home-section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;

  &__wrap {
    position: relative;
    z-index: 2;
  }

  &__title {
    @include fluid-type(500px, 1600px, 32px, 62px);
    font-weight: bold;
    line-height: 1.33;
    margin-top: 0;
  }

  &__title-inner {
    @include media("<desktop") {
      display: block;
    }
  }

  &__title-spacer {
    margin-right: 17px;
    margin-left: 17px;
    @include media("<desktop") {
      display: none;
    }
  }

  &__text {
    @include fluid-type(500px, 1600px, 20px, 26px);
    line-height: 1.2;
  }

  #tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include media("<desktop") {
      display: none;
    }
  }
}
