.home-section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;

  position: relative;
  z-index: 2;

  &__title {
    @include fluid-type(500px, 1600px, 32px, 62px);
    font-weight: bold;
    line-height: 1.33;
    margin-top: 0;
  }

  &__title-inner {
    @include media("<desktop") {
      display: block;
    }
  }

  &__title-spacer {
    color: var(--secondary-colour-2);
    margin-right: 17px;
    margin-left: 17px;
    @include media("<desktop") {
      display: none;
    }
  }

  &__text {
    @include fluid-type(500px, 1600px, 20px, 26px);
    line-height: 1.2;
  }
}
