.menu-btn {
  $border-offset: 0.25px;
  $line-height: 3px;
  $line-space: 6px;
  $line-width: 30px;
  $menu-height: 60px;
  $menu-width: 60px;
  $menu-center: $menu-height/2 - $line-height/2;

  display: inline-block;
  position: relative;
  height: $menu-height;
  width: $menu-width;
  background-color: transparent;
  margin-left: 30px;
  border: none;

  &::after {
    background-color: var(--color-primary);
    background-image: radial-gradient(var(--color-gray-4), var(--color-primary));
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: block;
    height: $menu-height;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    width: $menu-width;
    z-index: -1;
  }

  &__wrap {
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-secondary);
    pointer-events: none;
    height: 100%;
    width: 100%;
  }

  &:hover &__wrap,
  &:focus &__wrap {
    border: 1px solid rgba(var(--colour-color), 0.45);
  }

  &:focus {
    outline: none;
  }

  &__line {
    backface-visibility: hidden;
    background-color: var(--color-black);
    border-radius: 5px;
    height: $line-height;
    left: ($menu-width / 2 - $line-width / 2 + $border-offset);
    pointer-events: none;
    position: absolute;
    transition: width 200ms, opacity 200ms, top 200ms, transform 300ms;
    width: $line-width;
  }

  &__line-1 {
    top: ($menu-center - $line-height - $line-space + $border-offset);
  }

  &__line-2 {
    top: ($menu-center + $border-offset);
    width: ($line-width - 10px);
  }

  &__line-3 {
    top: ($menu-center + $line-height + $line-space + $border-offset);
  }

  &:focus,
  &:hover {
    outline: none;
  }

  &:focus &__line-1,
  &:hover &__line-1 {
    transform: translateY(-2px);
  }

  &:focus &__line-2,
  &:hover &__line-2 {
    width: $line-width;
  }

  &:focus &__line-3,
  &:hover &__line-3 {
    transform: translateY(2px);
  }

  &.active &__line {
    transition: opacity 100ms, top 300ms, transform 300ms;
  }

  &.active &__line-1 {
    transform: rotate(135deg);
    top: ($menu-center + $border-offset);
  }

  &.active &__line-2 {
    opacity: 0;
  }

  &.active &__line-3 {
    transform: rotate(-135deg);
    top: ($menu-center + $border-offset);
  }

  &.active::after {
    transform: scale(77);
  }
}
