.menu-btn {
  $border-offset: 0.25px;
  $line-height: 3px;
  $line-space: 6px;
  $line-width: 30px;
  $menu-height: 60px;
  $menu-width: 60px;
  $menu-center: $menu-height/2 - $line-height/2;

  display: inline-block;
  position: relative;
  height: $menu-height;
  width: $menu-width;
  border-radius: 50%;
  margin-left: 30px;
  overflow: hidden;
  border: none;

  &__wrap {
    background-color: var(--secondary-colour);
    pointer-events: none;
    height: 100%;
    width: 100%;
  }

  &:hover &__wrap,
  &:focus &__wrap {
    border: 1px solid rgba(var(--colour-color), 0.45);
  }

  &:focus {
    outline: none;
  }

  &__line {
    backface-visibility: hidden;
    background-color: var(--black-colour);
    border-radius: 5px;
    height: $line-height;
    left: ($menu-width / 2 - $line-width / 2 + $border-offset);
    pointer-events: none;
    position: absolute;
    transition: width 200ms, opacity 200ms, top 200ms, transform 300ms;
    width: $line-width;
  }

  &__line-1 {
    top: ($menu-center - $line-height - $line-space + $border-offset);
  }

  &__line-2 {
    top: ($menu-center + $border-offset);
    width: ($line-width - 10px);
  }

  &__line-3 {
    top: ($menu-center + $line-height + $line-space + $border-offset);
  }

  &:focus &__line-1,
  &:hover &__line-1 {
    transform: translateY(-2px);
  }

  &:focus &__line-2,
  &:hover &__line-2 {
    width: $line-width;
  }

  &:focus &__line-3,
  &:hover &__line-3 {
    transform: translateY(2px);
  }

  &.active {
    .menu-btn__line {
      transition: opacity 100ms, top 300ms, transform 300ms;
    }

    .menu-btn__line-1 {
      transform: rotate(135deg);
      top: ($menu-center + $border-offset);
    }

    .menu-btn__line-2 {
      opacity: 0;
    }

    .menu-btn__line-3 {
      transform: rotate(-135deg);
      top: ($menu-center + $border-offset);
    }

    & + .mobileNav {
      pointer-events: auto;
      opacity: 1;
    }
  }
}
