.section-header {
  &--w-t-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media("<tablet") {
      flex-direction: column;
      text-align: center;
    }
  }

  &__subheading {
    @include fluid-type(350px, 768px, 16px, 26px);
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--secondary-colour);
  }

  &__heading {
    @include fluid-type(350px, 768px, 36px, 55px);
    font-weight: bold;
    line-height: 1.18;
  }

  &__btn {
    @include media("<tablet") {
      margin-top: 15px;
    }
  }
}
