.section-header {
  margin-bottom: 100px;

  @include media("<tablet") {
    margin-bottom: 30px;
  }

  &--w-t-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media("<tablet") {
      flex-direction: column;
      text-align: center;
    }
  }

  &__subheading {
    @include fluid-type(350px, 768px, 16px, 26px);
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--color-secondary);
    margin-bottom: 10px;
  }

  &__heading {
    @include fluid-type(350px, 768px, 31px, 55px);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.333;
  }

  &__btn {
    @include media("<tablet") {
      margin-top: 15px;
    }
  }
}
