.section-header {
  &--w-t-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subheading {
    @include fluid-type(350px, 768px, 16px, 26px);
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--secondary-colour);
  }

  &__heading {
    @include fluid-type(350px, 768px, 36px, 55px);
    font-weight: 600;
    line-height: 1.18;
  }
}
