.about {
  &__top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  &__bottom {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__image-wrapper {
    position: relative;
    &:after {
      background-color: var(--white-colour);
      opacity: 0.24;
      border-radius: 8px;
      transform: rotate(-5.87deg);

      display: block;
      content: "";
      border-radius: 8px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  &__image {
    border-radius: 8px;
  }

  &__text {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
  }

  &__container {
    max-width: 600px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 100px;
  }

  &__link {
    margin-top: 60px;
  }
}
