.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;

  &__container {
    padding: 60px;
    border-radius: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include media(">=tablet") {
      background-color: var(--gray-colour-4);
    }

    @include media("<phone") {
      padding: 0;
    }
  }

  &__image {
    margin-right: 60px;

    @include media("<desktop") {
      display: none;
    }
  }
}
