.contact {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner-container {
    padding: 60px;
    border-radius: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include media(">889px") {
      background-color: var(--gray-colour-4);
    }
    
    @include media("<595px") {
      padding: 0;
    }
  }

  &__image {
    margin-right: 60px;

    @include media("<=1200px") {
      display: none;
    }
  }
}
