.footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;

  .nameTitle {
    @include media(">889px") {
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }
}
