.header {
  padding-top: 25px;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
}
