.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 25px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
}
