.projects {
  text-align: center;
  position: relative;
  z-index: 3;

  &__cards-wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;

    @include media("<desktop") {
      grid-template-columns: 1fr 1fr;
    }

    @include media("<phone") {
      grid-template-columns: 1fr;
    }
  }

  &__cta {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
