.social-links {
  display: flex;
  margin-left: 40px;
  justify-content: center;
  align-items: center;

  &__list-item:not(:first-child) {
    margin-left: 14px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
