.btn {
  background-color: var(--secondary-colour);
  border-radius: 5px;
  border: transparent;
  color: var(--black-colour);
  cursor: pointer;
  display: inline-block;
  @include fluid-type(500px, 1600px, 14px, 16px);
  font-weight: bold;
  line-height: 1;
  line-height: 19px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: var(--secondary-colour);
    outline: none;
  }
}
