@import "~normalize-scss/sass/normalize/import-now";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.srt-wrap::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

abbr {
  text-decoration: none !important;
  cursor: help;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary-colour);
  color: var(--white-colour);
  letter-spacing: 0.5px;

  /* Prevent MacOS Over Scroll */
  overscroll-behavior-y: none;

  /* body has min-width 100% */
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

/* expand main to cover page when smaller then 100vh */

main {
  flex: 1;
}

/* Allows you to enable CSS on IOS for
 buttons links and inputs */

input,
a,
button {
  -webkit-appearance: none;
  border-radius: 0;
}