.section-width {
  margin-left: auto;
  margin-right: auto;
  padding-right: 80px;
  padding-left: 80px;
  max-width: 1360px;
  width: 100%;

  @include media("<desktop-large") {
    padding-right: 50px;
    padding-left: 50px;
  }

  @include media("<tablet") {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.mobile-padding {
  padding-top: 100px;
  padding-bottom: 100px;

  @include media("<tablet") {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &--bordered-top {
    padding-top: 200px;

    @include media("<tablet") {
      padding-top: 100px;
    }
  }

  &--bordered-bottom {
    padding-bottom: 200px;

    @include media("<tablet") {
      padding-bottom: 100px;
    }
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
