:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #c6c6c6;
  --color-gray-2: #666a8f;
  --color-gray-3: #2d314c;
  --color-gray-4: #23263e;
  --color-primary: #181a29;
  --color-secondary: #ffb53e;
  --color-secondary-2: #ffc576;
  --color-danger: rgba(255, 14, 14, 0.7);
}

$breakpoints: (
  desktop-larger: 1400px,
  desktop-large: 1200px,
  desktop: 1024px,
  tablet-large: 960px,
  tablet: 769px,
  mobile-large: 590px,
  mobile: 425px,
);
