:root {
  --white-colour: #ffffff;
  --black-colour: #000000;
  --gray-colour: #c6c6c6;
  --gray-colour-2: #666a8f;
  --gray-colour-3: #2d314c;
  --gray-colour-4: #23263e;
  --primary-colour: #181a29;
  --secondary-colour: #ffb53e;
  --secondary-colour-2: #ffc576;
}

$breakpoints: (phone: 580px, tablet: 768px, desktop: 1200px);